Connect our Jupyter Notebook to our database file:

In [2]:


%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

Write a query to return information on the tables in the database.

In [3]:
%%sql
SELECT *
  FROM sqlite_master
 WHERE type='table';

Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

write and run another query that returns the first 5 rows of the facts table in the database.

In [4]:
%%sql
select * from facts limit 5;

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

Write a single query that returns the:

Minimum population
Maximum population
Minimum population growth
Maximum population growth

In [5]:
%%sql
select min(population), 
max(population),
min(population_growth),
max(population_growth)
from facts

Done.

[(0, 7256490011, 0.0, 4.02)]

Write a query that returns the countrie(s) with the minimum population.

In [6]:
%%sql
select name from facts where population IN (select min(population) from facts);

Done.

[('Antarctica',)]

Write a query that returns the countrie(s) with the maximum population.

In [7]:
%%sql
select name from facts where population IN (select max(population) from facts);

Done.

[('World',)]

Recompute the summary statistics you found earlier while excluding the row for the whole world. They were:

1. Minimum population
2. Maximum population
3. Minimum population growth
4. Maximum population growth

In [8]:
%%sql
select min(population), 
max(population),
min(population_growth),
max(population_growth)
from facts
where name <>'World'

Done.

[(0, 1367485388, 0.0, 4.02)]

calculate the average value for the following columns:

population
area

In [19]:
%%sql
SELECT AVG(population), 
AVG(area)
from facts
 WHERE name <> ' World';

Done.

[(62094928.32231405, 555093.546184739)]

Write a query that finds all countries meeting both of the following conditions:
The population is above average.
The area is below average.

In [10]:
%%sql
select * 
from facts
where population > (select AVG(population) from facts)
and area <( select AVG(area) from facts)

Done.

[(14, 'bg', 'Bangladesh', 148460, 130170, 18290, 168957745, 1.6, 21.14, 5.61, 0.46),
 (65, 'gm', 'Germany', 357022, 348672, 8350, 80854408, 0.17, 8.47, 11.42, 1.24),
 (85, 'ja', 'Japan', 377915, 364485, 13430, 126919659, 0.16, 7.93, 9.51, 0.0),
 (138, 'rp', 'Philippines', 300000, 298170, 1830, 100998376, 1.61, 24.27, 6.11, 2.09),
 (173, 'th', 'Thailand', 513120, 510890, 2230, 67976405, 0.34, 11.19, 7.8, 0.0),
 (185, 'uk', 'United Kingdom', 243610, 241930, 1680, 64088222, 0.54, 12.17, 9.35, 2.54),
 (192, 'vm', 'Vietnam', 331210, 310070, 21140, 94348835, 0.97, 15.96, 5.93, 0.3)]

What country has the most people? What country has the highest growth rate?

In [17]:
%%sql
select name, population 
from facts 
where population == (select max(population) 
                     from facts 
                     where name <>'World')

Done.

[('China', 1367485388)]

In [12]:
%%sql
select name, population_growth
from facts 
where population_growth == (select max(population_growth) 
                     from facts 
                     where name <>'World')

Done.

[('South Sudan', 4.02)]

Which countries have the highest ratios of water to land? Which countries have more water than land?

In [13]:
%%sql
select name,CAST(area_water as float)/ area_land as water_land_ratio 
from facts 
order by water_land_ratio desc
limit 10

Done.

[('British Indian Ocean Territory', 905.6666666666666),
 ('Virgin Islands', 4.520231213872832),
 ('Puerto Rico', 0.5547914317925592),
 ('Bahamas, The', 0.3866133866133866),
 ('Guinea-Bissau', 0.2846728307254623),
 ('Malawi', 0.25939625850340137),
 ('Netherlands', 0.22571032366565366),
 ('Uganda', 0.22292237442922375),
 ('Eritrea', 0.16435643564356436),
 ('Liberia', 0.15623961794019933)]

In [15]:
%%sql
select name 
from facts 
where area_land< area_water

Done.

[('British Indian Ocean Territory',), ('Virgin Islands',)]

Which countries will add the most people to their population next year?

In [37]:
%%sql
select name, population, population_growth,
CAST ( population_growth/100 * population as INT)  as new_population
from facts
where name <> ('World')
order by new_population desc
limit 10

Done.

[('India', 1251695584, 1.22, 15270686),
 ('China', 1367485388, 0.45, 6153684),
 ('Nigeria', 181562056, 2.45, 4448270),
 ('Pakistan', 199085847, 1.46, 2906653),
 ('Ethiopia', 99465819, 2.89, 2874562),
 ('Bangladesh', 168957745, 1.6, 2703323),
 ('United States', 321368864, 0.78, 2506677),
 ('Indonesia', 255993674, 0.92, 2355141),
 ('Congo, Democratic Republic of the', 79375136, 2.45, 1944690),
 ('Philippines', 100998376, 1.61, 1626073)]

Which countries have a higher death rate than birth rate?

In [29]:
%%sql
select name, death_rate, birth_rate
from facts 
where death_rate > birth_rate
order by death_rate desc

Done.

[('Ukraine', 14.46, 10.72),
 ('Bulgaria', 14.44, 8.92),
 ('Latvia', 14.31, 10.0),
 ('Lithuania', 14.27, 10.1),
 ('Russia', 13.69, 11.6),
 ('Serbia', 13.66, 9.08),
 ('Belarus', 13.36, 10.7),
 ('Hungary', 12.73, 9.16),
 ('Moldova', 12.59, 12.0),
 ('Estonia', 12.4, 10.51),
 ('Croatia', 12.18, 9.45),
 ('Romania', 11.9, 9.14),
 ('Germany', 11.42, 8.47),
 ('Slovenia', 11.37, 8.42),
 ('Greece', 11.09, 8.66),
 ('Portugal', 11.02, 9.27),
 ('Czech Republic', 10.34, 9.63),
 ('Italy', 10.19, 8.74),
 ('Poland', 10.19, 9.74),
 ('Bosnia and Herzegovina', 9.75, 8.87),
 ('Saint Pierre and Miquelon', 9.72, 7.42),
 ('Japan', 9.51, 7.93),
 ('Austria', 9.42, 9.41),
 ('Monaco', 9.24, 6.65)]

What countries have the highest population/area ratio and how does it compare to list we found in the previous screen?

In [26]:
%%sql
select name, population, area, population/ area as ratio
from facts
order by ratio desc

Done.

[('Macau', 592731, 28, 21168),
 ('Monaco', 30535, 2, 15267),
 ('Singapore', 5674472, 697, 8141),
 ('Hong Kong', 7141106, 1108, 6445),
 ('Gaza Strip', 1869055, 360, 5191),
 ('Gibraltar', 29258, 6, 4876),
 ('Bahrain', 1346613, 760, 1771),
 ('Maldives', 393253, 298, 1319),
 ('Malta', 413965, 316, 1310),
 ('Bermuda', 70196, 54, 1299),
 ('Sint Maarten', 39689, 34, 1167),
 ('Bangladesh', 168957745, 148460, 1138),
 ('Guernsey', 66080, 78, 847),
 ('Jersey', 97294, 116, 838),
 ('Barbados', 290604, 430, 675),
 ('Mauritius', 1339827, 2040, 656),
 ('Taiwan', 23415126, 35980, 650),
 ('Aruba', 112162, 180, 623),
 ('Lebanon', 6184701, 10400, 594),
 ('Saint Martin', 31754, 54, 588),
 ('San Marino', 33020, 61, 541),
 ('Korea, South', 49115196, 99720, 492),
 ('Rwanda', 12661733, 26338, 480),
 ('West Bank', 2785366, 5860, 475),
 ('Nauru', 9540, 21, 454),
 ('Tuvalu', 10869, 26, 418),
 ('Netherlands', 16947904, 41543, 407),
 ('Marshall Islands', 72191, 181, 398),
 ('Israel', 8049314, 20770, 387),
 ('Burundi', 10742276, 27830, 385),
 ('India', 1251695584, 3287263, 380),
 ('Belgium', 11323973, 30528, 370),
 ('Haiti', 10110019, 27750, 364),
 ('Comoros', 780971, 2235, 349),
 ('Philippines', 100998376, 300000, 336),
 ('Sri Lanka', 22053488, 65610, 336),
 ('Japan', 126919659, 377915, 335),
 ('Curacao', 148406, 444, 334),
 ('Grenada', 110694, 344, 321),
 ('Guam', 161785, 544, 297),
 ('El Salvador', 6141350, 21041, 291),
 ('Vietnam', 94348835, 331210, 284),
 ('American Samoa', 54343, 199, 273),
 ('Jamaica', 2950210, 10991, 268),
 ('Saint Lucia', 163922, 616, 266),
 ('Saint Vincent and the Grenadines', 102627, 389, 263),
 ('United Kingdom', 64088222, 243610, 263),
 ('Puerto Rico', 3598357, 13791, 260),
 ('Pakistan', 199085847, 796095, 250),
 ('Trinidad and Tobago', 1222363, 5128, 238),
 ('Liechtenstein', 37624, 160, 235),
 ('Germany', 80854408, 357022, 226),
 ('British Virgin Islands', 33454, 151, 221),
 ('Luxembourg', 570252, 2586, 220),
 ('Dominican Republic', 10478756, 48670, 215),
 ('Nepal', 31551305, 147181, 214),
 ('Cayman Islands', 56092, 264, 212),
 ('Antigua and Barbuda', 92436, 442, 209),
 ('Korea, North', 24983205, 120538, 207),
 ('Italy', 61855120, 301340, 205),
 ('Seychelles', 92430, 455, 203),
 ('Sao Tome and Principe', 194006, 964, 201),
 ('Saint Kitts and Nevis', 51936, 261, 198),
 ('Nigeria', 181562056, 923768, 196),
 ('Switzerland', 8121830, 41277, 196),
 ('Qatar', 2194817, 11586, 189),
 ('Andorra', 85580, 468, 182),
 ('Anguilla', 16418, 91, 180),
 ('Gambia, The', 1967709, 11300, 174),
 ('Kosovo', 1870981, 10887, 171),
 ('Kuwait', 2788534, 17818, 156),
 ('Uganda', 37101745, 241038, 153),
 ('Isle of Man', 87545, 572, 153),
 ('Malawi', 17964697, 118484, 151),
 ('Micronesia, Federated States of', 105216, 702, 149),
 ('China', 1367485388, 9596960, 142),
 ('Tonga', 106501, 747, 142),
 ('Guatemala', 14918999, 108889, 137),
 ('Cabo Verde', 545993, 4033, 135),
 ('Czech Republic', 10644842, 78867, 134),
 ('Indonesia', 255993674, 1904569, 134),
 ('Thailand', 67976405, 513120, 132),
 ('Togo', 7552318, 56785, 132),
 ('Kiribati', 105711, 811, 130),
 ('Denmark', 5581503, 43094, 129),
 ('Cyprus', 1189197, 9251, 128),
 ('Akrotiri', 15700, 123, 127),
 ('Poland', 38562189, 312685, 123),
 ('Dhekelia', 15700, 130, 120),
 ('European Union', 513949445, 4324782, 118),
 ('Portugal', 10825309, 92090, 117),
 ('Azerbaijan', 9780780, 86600, 112),
 ('Northern Mariana Islands', 52344, 464, 112),
 ('Slovakia', 5445027, 49035, 111),
 ('Tokelau', 1337, 12, 111),
 ('Ghana', 26327649, 238533, 110),
 ('Wallis and Futuna', 15613, 142, 109),
 ('Hungary', 9897541, 93028, 106),
 ('Albania', 3029278, 28748, 105),
 ('Moldova', 3546847, 33851, 104),
 ('Austria', 8665550, 83871, 103),
 ('France', 66553766, 643801, 103),
 ('Armenia', 3056382, 29743, 102),
 ('Turkey', 79414269, 783562, 101),
 ('Cuba', 11031433, 110860, 99),
 ('Dominica', 73607, 751, 98),
 ('Slovenia', 1983412, 20273, 97),
 ('Spain', 48146134, 505370, 95),
 ('Costa Rica', 4814144, 51100, 94),
 ('Benin', 10448647, 112622, 92),
 ('Malaysia', 30513848, 329847, 92),
 ('Serbia', 7176794, 77474, 92),
 ('Syria', 17064854, 185180, 92),
 ('Ethiopia', 99465819, 1104300, 90),
 ('Jordan', 8117564, 89342, 90),
 ('Romania', 21666350, 238391, 90),
 ('Egypt', 88487396, 1001450, 88),
 ('Cambodia', 15708756, 181035, 86),
 ('Iraq', 37056169, 438317, 84),
 ('Burma', 56320206, 676578, 83),
 ('Swaziland', 1435613, 17364, 82),
 ('Timor-Leste', 1231116, 14874, 82),
 ('Greece', 10775643, 131957, 81),
 ('Macedonia', 2096015, 25713, 81),
 ('Sierra Leone', 5879098, 71740, 81),
 ('Kenya', 45925301, 580367, 79),
 ('Croatia', 4464844, 56594, 78),
 ('Honduras', 8746673, 112090, 78),
 ('Bosnia and Herzegovina', 3867055, 51197, 75),
 ('Brunei', 429646, 5765, 74),
 ('Morocco', 33322699, 446550, 74),
 ('Ukraine', 44429471, 603550, 73),
 ("Cote d'Ivoire", 23295302, 322463, 72),
 ('Senegal', 13975834, 196722, 71),
 ('Georgia', 4931226, 69700, 70),
 ('Burkina Faso', 18931686, 274200, 69),
 ('Ireland', 4892305, 70273, 69),
 ('Samoa', 197773, 2831, 69),
 ('United Arab Emirates', 5779760, 83600, 69),
 ('Tunisia', 11037225, 163610, 67),
 ('French Polynesia', 282703, 4167, 67),
 ('Uzbekistan', 29199942, 447400, 65),
 ('Bulgaria', 7186893, 110879, 64),
 ('Lesotho', 1947701, 30355, 64),
 ('Mexico', 121736809, 1964375, 61),
 ('Norfolk Island', 2210, 36, 61),
 ('Tajikistan', 8191958, 144100, 56),
 ('Ecuador', 15868396, 283561, 55),
 ('Eritrea', 6527689, 117600, 55),
 ('Virgin Islands', 103574, 1910, 54),
 ('Tanzania', 51045882, 947300, 53),
 ('Turks and Caicos Islands', 50280, 948, 53),
 ('Montserrat', 5241, 102, 51),
 ('Yemen', 26737317, 527968, 50),
 ('Afghanistan', 32564342, 652230, 49),
 ('Cameroon', 23739218, 475440, 49),
 ('Fiji', 909389, 18274, 49),
 ('Iran', 81824270, 1648195, 49),
 ('Panama', 3657024, 75420, 48),
 ('Guinea', 11780162, 245857, 47),
 ('Guinea-Bissau', 1726170, 36125, 47),
 ('Belarus', 9589689, 207600, 46),
 ('Montenegro', 647073, 13812, 46),
 ('Palau', 21265, 459, 46),
 ('Nicaragua', 5907881, 130370, 45),
 ('Lithuania', 2884433, 65300, 44),
 ('South Africa', 53675563, 1219090, 44),
 ('Cocos (Keeling) Islands', 596, 14, 42),
 ('Colombia', 46736728, 1138910, 41),
 ('Cook Islands', 9838, 236, 41),
 ('Madagascar', 23812681, 587041, 40),
 ('Liberia', 4195666, 111369, 37),
 ('Zimbabwe', 14229541, 390757, 36),
 ('Faroe Islands', 50196, 1393, 36),
 ('Djibouti', 828324, 23200, 35),
 ('Congo, Democratic Republic of the', 79375136, 2344858, 33),
 ('United States', 321368864, 9826675, 32),
 ('Venezuela', 29275460, 912050, 32),
 ('Mozambique', 25303113, 799380, 31),
 ('Latvia', 1986705, 64589, 30),
 ('Laos', 6911544, 236800, 29),
 ('Kyrgyzstan', 5664939, 199951, 28),
 ('Estonia', 1265420, 45228, 27),
 ('Equatorial Guinea', 740743, 28051, 26),
 ('Saint Helena, Ascension, and Tristan da Cunha', 7795, 308, 25),
 ('Bahamas, The', 324597, 13880, 23),
 ('Brazil', 204259812, 8515770, 23),
 ('Chile', 17508260, 756102, 23),
 ('Peru', 30444999, 1285216, 23),
 ('Saint Pierre and Miquelon', 5657, 242, 23),
 ('Vanuatu', 272264, 12189, 22),
 ('Solomon Islands', 622469, 28896, 21),
 ('Sweden', 9801616, 450295, 21),
 ('Zambia', 15066266, 752618, 20),
 ('Bhutan', 741919, 38394, 19),
 ('Sudan', 36108853, 1861484, 19),
 ('South Sudan', 12042910, 644329, 18),
 ('Uruguay', 3341893, 176215, 18),
 ('Algeria', 39542166, 2381741, 16),
 ('Finland', 5476922, 338145, 16),
 ('New Zealand', 4438393, 267710, 16),
 ('Norway', 5207689, 323802, 16),
 ('Paraguay', 6783272, 406752, 16),
 ('Somalia', 10616380, 637657, 16),
 ('Angola', 19625353, 1246700, 15),
 ('Argentina', 43431886, 2780400, 15),
 ('Belize', 347369, 22966, 15),
 ('Papua New Guinea', 6672429, 462840, 14),
 ('New Caledonia', 271615, 18575, 14),
 ('Congo, Republic of the', 4755097, 342000, 13),
 ('Mali', 16955536, 1240192, 13),
 ('Saudi Arabia', 27752316, 2149690, 12),
 ('Christmas Island', 1530, 135, 11),
 ('Oman', 3286936, 309500, 10),
 ('Turkmenistan', 5231422, 488100, 10),
 ('Bolivia', 10800882, 1098581, 9),
 ('Central African Republic', 5391539, 622984, 8),
 ('Russia', 142423773, 17098242, 8),
 ('Gabon', 1705336, 267667, 6),
 ('Kazakhstan', 18157122, 2724900, 6),
 ('Niue', 1190, 260, 4),
 ('Botswana', 2182719, 581730, 3),
 ('Canada', 35099836, 9984670, 3),
 ('Guyana', 735222, 214969, 3),
 ('Iceland', 331918, 103000, 3),
 ('Libya', 6411776, 1759540, 3),
 ('Mauritania', 3596702, 1030700, 3),
 ('Suriname', 579633, 163820, 3),
 ('Australia', 22751014, 7741220, 2),
 ('Namibia', 2212307, 824292, 2),
 ('Western Sahara', 570866, 266000, 2),
 ('Mongolia', 2992908, 1564116, 1),
 ('Pitcairn Islands', 48, 47, 1),
 ('Greenland', 57733, 2166086, 0),
 ('Svalbard', 1872, 62045, 0),
 ('Falkland Islands (Islas Malvinas)', 3361, 12173, 0),
 ('Chad', 11631456, None, None),
 ('Niger', 18045729, None, None),
 ('Holy See (Vatican City)', 842, 0, None),
 ('Ashmore and Cartier Islands', None, 5, None),
 ('Coral Sea Islands', None, 3, None),
 ('Heard Island and McDonald Islands', None, 412, None),
 ('Clipperton Island', None, 6, None),
 ('French Southern and Antarctic Lands', None, None, None),
 ('Saint Barthelemy', 7237, None, None),
 ('Bouvet Island', None, 49, None),
 ('Jan Mayen', None, 377, None),
 ('British Indian Ocean Territory', None, 54400, None),
 ('South Georgia and South Sandwich Islands', None, 3903, None),
 ('Navassa Island', None, 5, None),
 ('Wake Island', None, 6, None),
 ('United States Pacific Island Wildlife Refuges', None, None, None),
 ('Antarctica', 0, None, None),
 ('Paracel Islands', None, 7, None),
 ('Spratly Islands', None, 5, None),
 ('Arctic Ocean', None, None, None),
 ('Atlantic Ocean', None, None, None),
 ('Indian Ocean', None, None, None),
 ('Pacific Ocean', None, None, None),
 ('Southern Ocean', None, None, None),
 ('World', 7256490011, None, None)]